body {
  max-width: 320px;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  font-family: 'Unbounded', cursive;
}

img {
  display: block;
  max-width: 100%;
}

p {
  font-family: 'Poppins', sans-serif;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin: 130px 0px;
  background-image:url(../img/titles_bg.png);
  background-size:300px;
  background-repeat:no-repeat;
  background-position: center;
  padding: 135px 0px;
}

.logo {
  max-width: 100%;
  padding-top: 60px;
}

.contact {
  text-align:center;
}

a {
  display:flex;
  flex-direction: column;
  align-items: baseline;
  text-decoration: none;
  font-size: 20px;
  color:black;
  border-bottom: 1px solid black;
}

hr {
  margin: 50px 0px;
  border: 1px solid black;
}
