body {
  max-width: 320px;
  margin: auto;
  background: #e8e8e8;
  font-family: 'Poppins', sans-serif;
  font-family: 'Unbounded', cursive;
}

img {
  display: block;
  max-width: 100%;
}

p {
  font-family: 'Poppins', sans-serif;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.logo {
  max-width: 100%;
}

.contact {
  text-align:center;
}

a {
  display:flex;
  flex-direction: column;
  align-items: baseline;
  text-decoration: none;
  color:black;
  border-bottom: 1px solid black;
}