body {
  max-width: 320px;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  font-family: 'Unbounded', cursive;
  background-image: url(../img/background.png);
  background-position: center;
  background-repeat: repeat;
}

header {
  padding-top: 20px; 
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 100%;
  padding-top: 60px;
}

.text-logo {
  position: absolute;
  width: 310px;
  animation: animation-logo 10s infinite linear;
  top: 110px;
}


h2 {
  text-align: center;
  font-size: 30px;
  background-image: url(../img/titles_bg.png);
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 160px 0px;
  margin: 0;
}

h3 {
    text-align: center;
    font-size: 16px;
}

main, header, footer {
  background: #ffffff;
  background-blend-mode: 60%;
}

img {
  display: block;
  max-width: 100%;
}

p {
  font-family: 'Poppins', sans-serif;
  padding: 0px 20px 20px 20px;
}

.contact, .mail {
  text-align: center;
}

a {
  display:flex;
  flex-direction: column;
  align-items: baseline;
  text-decoration: none;
  font-size: 20px;
  color:#000000;
  border-bottom: 1px solid #000000;
}

hr {
  margin: 50px 0px;
  border: 1px solid #000000;
}

.section-streetfood {
  padding-bottom: 10px;
  margin: 0px;
}

.footer-title {
  background-image: url(../img/contact_bg.png);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes animation-logo {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }

}

.mail {
  border: none;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 0px;
}

.footer-logo {
  max-width: 30%;
  margin: auto;
  padding-top: 30px;
}